In [5]:
import pandas as pd
df = pd.read_csv("../Downloads/weather.csv")

In [8]:
df.head(20)

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80
5,0.09,2016-01-03,1,3,2016,Annette,ANN,"Annette, AK",Alaska,38,44,31,9,8.70
6,0.05,2016-01-03,1,3,2016,Bethel,BET,"Bethel, AK",Alaska,30,36,24,9,16.46
7,0.15,2016-01-03,1,3,2016,Bettles,BTT,"Bettles, AK",Alaska,22,32,9,2,3.10
8,0.60,2016-01-03,1,3,2016,Cold Bay,CDB,"Cold Bay, AK",Alaska,34,36,31,20,9.10
9,2.15,2016-01-03,1,3,2016,Cordova,CDV,"Cordova, AK",Alaska,38,43,33,9,9.76
10,0.00,2016-01-03,1,3,2016,Delta Junction/Ft Greely,BIG,"Delta Junction/Ft Greely, AK",Alaska,31,39,23,14,17.90
11,0.00,2016-01-03,1,3,2016,Fairbanks,FAI,"Fairbanks, AK",Alaska,14,30,4,2,2.20
12,0.02,2016-01-03,1,3,2016,Gulkana,GKN,"Gulkana, AK",Alaska,27,34,19,14,8.23
13,1.22,2016-01-03,1,3,2016,Homer,HOM,"Homer, AK",Alaska,39,42,35,9,11.26
14,0.00,2016-01-03,1,3,2016,Iliamna,ILI,"Iliamna, AK",Alaska,40,42,37,9,19.76
15,0.70,2016-01-03,1,3,2016,Juneau,JNU,"Juneau, AK",Alaska,36,40,31,10,9.23
16,0.14,2016-01-03,1,3,2016,Kenai,ENA,"Kenai, AK",Alaska,34,37,30,6,11.20
17,0.17,2016-01-03,1,3,2016,Ketchikan,KTN,"Ketchikan, AK",Alaska,37,41,33,15,6.16
18,0.05,2016-01-03,1,3,2016,King Salmon,AKN,"King Salmon, AK",Alaska,39,42,35,10,18.83
19,1.30,2016-01-03,1,3,2016,Kodiak,ADQ,"Kodiak, AK",Alaska,40,42,36,11,21.80

In [23]:
df["Data.Temperature.Max Temp"].std()

np.float64(19.78795411795669)

In [21]:
df.describe()

,Data.Precipitation,Date.Month,Date.Week of,Date.Year,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
count,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000,16743.000000
mean,0.579090,6.343128,15.650242,2016.018933,56.089112,66.042406,45.642716,18.791316,6.329820
std,0.988057,3.490723,8.923425,0.136294,18.798295,19.787954,18.559263,6.461527,3.494785
min,0.000000,1.000000,1.000000,2016.000000,-27.000000,-19.000000,-35.000000,0.000000,0.000000
25%,0.000000,3.000000,8.000000,2016.000000,44.000000,53.000000,33.000000,15.000000,4.040000
50%,0.190000,6.000000,16.000000,2016.000000,58.000000,68.000000,47.000000,19.000000,5.940000
75%,0.750000,9.000000,24.000000,2016.000000,71.000000,82.000000,60.000000,23.000000,8.080000
max,20.890000,12.000000,31.000000,2017.000000,100.000000,111.000000,88.000000,36.000000,61.100000